<suite name="Main Suite">

  <!--<test name="TestBillCalculator">-->
    <!--<classes>-->
      <!--<class name="edu.sjsu.edo08f.support.BillCalculatorTest" />-->
    <!--</classes>-->
  <!--</test>-->

  <test name="CreateStudentTest">
    <classes>
      <class name="edu.sjsu.edo08f.support.CreateStudentTest" />
    </classes>
  </test>


</suite>
